# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir=/tmp/zookeeper
# the port at which the clients will connect  （客户端将连接的端口）
clientPort=2181
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1

## Metrics Providers
#
# https://prometheus.io Metrics Exporter
#metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider
#metricsProvider.httpPort=7000
#metricsProvider.exportJvmInfo=true



#######################    下面的是网上拷的，熟悉配置用   ######################

 # tickTime表示服务器之间或客户端与服务器之间心跳的时间间隔，单位为毫秒
 tickTime=2000
 # follower与leader的初始连接心跳数
 initLimit=10
 # follower与leader请求和应答的最大心跳数
 syncLimit=5
 # 快照数据保存目录
 dataDir=/opt/apache-zookeeper-3.5.5-bin/data
 # 日志保存目录
 dataLogDir=/opt/apache-zookeeper-3.5.5-bin/logs
 # 客户端连接端口
 clientPort=2181
 # 客户端最大连接数,默认为60个
 maxClientCnxns=60
 # 默认为false，设置成true，zk将监听所有可用ip地址的连接
 quorumListenOnAllIPs=false
 # 服务器节点配置，格式为：
 # server.${myid}=${host}:${leader和follower通信端口}:${选举端口}(observer节点最后加上:observer )
 server.10=zk.master:2888:3888
 server.1=zk.slave1:2888:3888
 server.2=zk.slave2:2888:3888
 server.9=zk.observer:2888:3888:observer

